/* footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem 0;
    background-color: #0d1011;
}

.footer .footer__texto {
    margin: 0;
    font-size: 1.6rem;
}

.footer p {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.iconos {
    display: flex;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.iconos a{
    margin: 0 2rem;
}

@media (min-width:998px){
    .iconos a{
        display: flex;
        align-items: flex-end;
        margin: 1rem;
    }
}