/* main */
.home {
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008C 0% 100%), url("https://www.cabotsolutions.com/public/_bannerTemplate/17595/certified-developers.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    height: 65rem;
}


.informacion,
h3,
p {
    font-size: 1.6rem;
}

.container__informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.informacion--titulo {
    font-size: 3.6rem;
    margin-top: 5rem;
}

.informacion__bloque {
    flex-direction: column;
}

.informacion__bloque p {
    line-height: 2.5rem;
    padding: 5rem 2rem;
    color: var(--letraBlanca);
}

.informacion__bloque p:last-of-type {
    display: flex;
    flex-direction: column;
}

.informacion__bloque p:last-of-type a {
    padding: .5rem 1.5rem;
    background-color: #ff0000;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
    color: #fff;
    font-weight: 800;
}

.informacion-negrita {
    margin-right: 1.5rem;
    font-weight: bold;
    font-size: 2.3rem;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 992px) {

    .informacion__bloque {
        width: 70rem;
    }

    .informacion__bloque p:first-of-type {
        font-size: 2.2rem;
        line-height: 3rem;
        padding-top: 5rem;
    }
    .informacion-negrita {
        margin-right: 1.5rem;
        font-weight: bold;
        font-size: 3.06rem;
    }

}