/* footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2rem 0;
    border-top: 1px solid #DADBDC;
    /* background-color: #0d1011; */
}

.footer p,
.footer .footer__texto {
    margin: 0;
    font-size: 1.6rem;
    text-align: center;
    color: #8c8e91;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.iconos {
    display: flex;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}


@media (min-width:998px) {
    .footer {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .iconos a {
        display: flex;
        align-items: flex-end;
    }
}