.logotipos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipos__img {
    width: 3rem;
    height: 3rem;
    background-color: #000;
    border-radius: 5px;
}

.logotipos__titulo {
    font-size: 2rem;
}

.hamburger {
    cursor: pointer;
    display: block;
}

.hamburger__item {
    width: 2rem;
    padding-top: 0.15rem;
    margin: 0.5rem 0;
    background-color: #000;
}

.logotipo {
    display: grid;
    gap: 5rem;
    padding: 3rem 0;
}

.titulo__enlace {
    color: #000;
}

@media (min-width: 768px) {

    .logotipos__titulo {
        padding: 0 1rem;
    }

    .hamburger {
        display: none;
    }
}

@media (min-width: 992px) {

    .logotipos {
        /* width: 100%; */
    }

    .logotipos__titulo {
        width: 100%;
        font-size: 1.8rem;
    }

    .logotipos__titulo span {
        font-size: 3rem;
        text-transform: uppercase;
    }

}